<a href="https://colab.research.google.com/github/ahmadajal/DM_ML_course_public/blob/master/data/Rattrapage_Assignment_Students'_Copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Rattrapage - Business Intelligence and Analytics 2020 - Part 1A. Coding Assignment

We will use a dataset to perform cleaning, visualization and predictive operations.

We will use a dataset about the performance of several companies across different years. The performance is shown in terms of different social, environmental, and governance scores. For each company, the dataset also contains a set of features, e.g, market value, assets, etc.

Run the following cells to load this dataset and then get started with the questions! Once you are done you have to:

1. Submit your Python **notebook** here: https://moodle.unil.ch/mod/assign/view.php?id=839253
2. Answer the questions to the quiz: https://moodle.unil.ch/mod/quiz/view.php?id=839254

**You have to do both**. The answers to the quiz should be supported by your code. If they are not you will not receive the point for it. 


If there is need for further clarifications on the questions, after the assignment is released, we will update this file, so make sure you check the git repo for updates.

Note, that from Question 11 on, we provide you the dataset in the state it should be in at that point.

Good luck!

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style="white")

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Load the dataset without using any particular options when using the appropriate pandas function to load the csv. Show the first few rows to get an idea of the data.

In [ ]:
# TODO: Load the csv file and show the first rows
# if sometimes the github doesn't work, just download the file locally: https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92

url = 'https://raw.githubusercontent.com/michalis0/Business-Intelligence-and-Analytics/master/data/ESG_index_companies.csv' # or 'https://raw.githubusercontent.com/ahmadajal/DM_ML_course_public/master/data/ESG_index_companies.csv'

In [ ]:
# TODO: remove (drop) the "esg_binaire", "csr_com", "csr_report" columns because they are not reliable (generated by a graduate student!)

## Question 1

At this point, how many rows and columns are in the dataset?

In [ ]:
# TO DO: print the dimensions of the dataset

## Question 2/3

Show how the data types of the columns in the raw file are interpreted when imported. 
- **When the "oia" column is originally imported, as what data-type it is interpreted?**
- **Do you think it is imported with the correct data type?**

In [ ]:
# TO DO: print the data types of each column in the dataset

## Converting to different data types
Now make a copy of the data in a variable called `df`. Convert the type of all of the columns to "float64", except the following columns:
```
["Year", "Firm", "ind", "country"]
``` 
_Hint: if there are parsing errors when converting the column data types, return "NaN" for those values._

In [ ]:
# TO DO: make a copy of the data in a variable called df

In [ ]:
# TO DO: convert all columns except the ones mentioned above into float64
# for the function that you use, use the errors="coerce" option.
column_to_not_convert = ["Year", "Firm", "ind", "country"]

In [ ]:
# TO DO: print the column data types again to check if you have done everything right

## Question 4:

How many NaN (null) values in total do we have in each column? Drop the four columns with the most number of NaN values.

- **How many are the missing values in the column "Social controvery score"?**

_Hint: You should expect to have the following 4 columns with the most number of NaN values._

```
["Environment controversy score", "Social controvery score", 
"Score - Emission Reduction/Spill/Pollution Controversies (Inactive)", 
"Score - Product Responsibility/Responsible Mrktg Controversy(Inactive)"]
```

In [ ]:
# TO DO: print the number of missing (NULL) values in each column

In [ ]:
# TO DO: remove the 4 columns with the most number of NaN values

## Question 5

Now remove all the rows that have at least one NaN value. 

- **How many rows does the dataset have after dropping those rows**?

In [ ]:
# TO DO: drop rows with at least one NaN

In [ ]:
# TO DO: print the dimensions of the new dataset to see how many rows are left

## Question 6

As you may have noted, for each company we have data for multiple years. For which year do we have more data points left? 

- **How many companies are in this year?**

In [ ]:
# TO DO: compute the number of data points left for each year

In [ ]:
# TO DO: keep only the data for the year with the most number of data points

__Important: from now on we will use this dataset, i.e, the companies data only for the year with the most number of datapoints. So let's reset the index of this dataframe to get a proper consecutive index.__

In [ ]:
df.reset_index(inplace=True)

## Question 7

Plot a boxplot of the values in the following columns.

```
["ESG controversy score", "Governance controversy score", "esg_score"]
```
**Which between the 
 "ESG controversy score", "Governance controversy score", and "esg_score" columns has the highest median value?**

In [ ]:
# TO DO: box plot

## Question 8

Normalize all of the columns to have values between 0 and 1, *except* the following columns that are not of type float64.

```
["Year", "Firm", "ind", "country"]
```

_Hint: use sklearn `MinMaxScaler` function_

- **What is the normalized value for the "ESG controversy score" for the firm "1&1 DRILLISCH" for the year 2017? (round to 2 decimals, e.g., 0.50)**

In [ ]:
# TO DO: normalize the columns of type float64
column_to_not_normalize = ["Year", "Firm", "ind", "country"]

## Question 9

Compute the correlation matrix for the following score columns:

```
["ESG controversy score", "Governance controversy score",
"Score - Emission Reduction/Biodiversity Controversies (Inactive)", 
"Score - Community/Critical Countries-Indigenous Controversy (Inactive)",
"Score - Community/Public Health Controversies (Inactive)",
"Score - Diversity and Opportunity/Diversity Controversies (Inactive)"]
```

_Hint: use the pandas `.corr()` method, e.g, `df.corr()` to compute the correlation matrix._

- **What is the correlation between the columns "ESG controversy score" and "Governance controversy score" (rounded to 2 decimals)?**

In [ ]:
# TO DO: Compute the correlation matrix
columns = ["ESG controversy score", "Governance controversy score",
"Score - Emission Reduction/Biodiversity Controversies (Inactive)", 
"Score - Community/Critical Countries-Indigenous Controversy (Inactive)",
"Score - Community/Public Health Controversies (Inactive)",
"Score - Diversity and Opportunity/Diversity Controversies (Inactive)"]

In the code cell below, substitute the variable `<correlation_matrix>` with the matrix you computed in the previous cell in order to get a heatmap of correlations. Which are the two score values that are the most positively correlated?

In [ ]:
#TO DO: substitute the correlation_matrix
correlation_matrix = corr

# Generate a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# plot a heatmap of the correlation matrix and place in each box in the heatmap the value of the correlation

## Question 10

Plot a histogram of the `assets` column in order to get an idea of the distribution of the amount of assets belonging to the companies in this dataset.
To make the histogram more readable use a *logarithmic scale *on the y-axis of the asset values.

- **What does the shape of the assets values histogram (in log scale) look like (from left to right, from smaller to larger values)? Decreasing, increasing, almost uniform, very irregular?**

In [ ]:
# TO DO: histogram of the assets values

## Question 11

For each country, compute the number of companies in each country together with the average amount of market value (`mv` column) for the companies in the country. Return the result as a dataframe with 3 columns, i.e, "country", "average_mv", and "count".

_Hint: use pandas `groupby` with the `agg` method._

- **How many companies are in country "GB"?** (should be a number between 300-400)

In [ ]:
# TO DO: number of companies and the average mv of the companies in each country

## Load the clean dataset

For the following questions, we provide you the cleaned dataset of all the operations we did up to this point for the companies in the year 2017. Run the following cell to load this dataset.

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/ahmadajal/DM_ML_course_public/master/cleaned_esg_df.csv")
df.head()

   Unnamed: 0     index  Year  ...       div  ind  country
0           0  0.000000  2017  ...  0.103321  142       DE
1           1  0.000912  2017  ...  0.083887  109       GB
2           2  0.001825  2017  ...  0.097417  109       GB
3           3  0.002737  2017  ...  0.102091  100       GB
4           4  0.003650  2017  ...  0.095941  169       IT

[5 rows x 39 columns]

## Question 12 (Clustering)

Cluster the companies using kMeans clustering with 10 clusters. Only use the following columns to cluster the data:

```
["mv",	"mc",	"tobin",	"roe",	"oia",	"ois",	"esg_score",	"assets",	"roa", "sg",	"lev",	"div"]
```

- **Are the companies "PUMA" and "ADIDAS" in the same cluster?** 
- **Are the companies "AXA" and "SWISS RE" in the same cluster?**

_HINT: Use the [`sklearn.cluster.KMeans`](https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html) function. Make sure to use `random_state=0` so that the results are deterministic._

_HINT: You need to find the indices of the mentioned companies in the dataframe. Then using those indices you are able to find to which cluster they belong to (Use the `.labels_` method to find the cluster each data point belongs to.)_

In [ ]:
# perform the clustering

In [ ]:
# find the indices of PUMA and ADIDAS in the dataframe

In [ ]:
# show to which clusters ADIDAS and PUMA belong

In [ ]:
# find the indices of AXA and SWISS RE

In [ ]:
# show to which cluster AXA and SWISS RE belong

## Question 13 (Regression)

Build a linear regression model for ESG controversy score using the following attributes:
 ```
["mv",	"mc",	"tobin",	"roe",	"oia",	"ois", "assets",	"roa", "sg",	"lev",	"div", "ind", "country"]
 ```

 - **What is the $R^2$ score of the model for the training set (rounded to 2 decimals)?**
 
_Hint: there are categorical features among these attributes. You need to encode them with one-hot encoding first. Use the `get_dummies` function._

_Hint: use the class `sklearn.linear_model.LinearRegression`._

In [ ]:
# TO DO: one-hot encoding of the categorical columns "ind" and "country"

In [ ]:
# TO DO: fit the model on the full data, compute the R^2 score
# compute the regression and the R^2 score on the full data (i.e. no train/test split).

## Question 14 (Classification)

For classification we first need to discretize the target values `ESG controversy score`. To do so we will use the `qcut` method from pandas in order to get equal-sized buckets.

In [ ]:
# this we provide to you
y_classification = pd.qcut(df["ESG controversy score"], q=5, labels=[1,2,3,4,5])

Build a logistic regression classifier. Split your dataset into 80% training and 20% test. For splitting use `sklearn.model_selection.train_test_split` method with `random_state =1`. Set the `random_state=1` also for the logistic regression model. 

- **What is the accuracy of your classifier on the train set and your test set? (rounded to 2 decimals,e.g., 0.50)?**

In [ ]:
# TO DO: fit the logistic regression model on the training data

In [ ]:
# TO DO: compute the accuracy of your model on the train set and on the test set

## QUESTION 15

Now build a decision tree classifier. Use a maximum depth of 10 for the tree and set `random_state=1`. Train the decision tree model on the train set you generated for question 14. 

- **What is the train and test accuracy of the decision tree classifier (rounded to 2 decimals, e.g., 0.50)?**

In [ ]:
# TO DO: train the decision tree classifier

In [ ]:
# TO DO: compute the train and test accuracy

## QUESTION 16

**What is the maximum tree depth (between 1-10) that gives the best test accuracy for a decision tree?** What is the test accuracy for this tree? 

_Hint: try the range of maximum tree depth between 1 and 10._
_Hint: use a random seed equal to 1._

In [ ]:
# TO DO: find the best tree depth

In [ ]:
# TO DO: test accuracy for the best tree depth

## QUESTION 17

What is the most important feature in predicting the "ESG controversy score" values? Hint: Use the [`feature_importances_`](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier.feature_importances_) property on the best decision tree you found from the previous question. Sort properly to find the right answer.

In [ ]:
# TO DO: find the most important feature for the decision tree

## Question 18

Build a KNN classifier with k=5. Use the same train and test set as in the previous questions. 

- **What is the train and test accuracy for the kNN classifier with k=5 (rounded to 2 decimals, e.g. 0.50)?**

In [ ]:
# TO DO: fit the KNN classifier on the training data and compute the train/test accuracy

## Question 19

Find the value of k (number of nearest neighbours) that gives the best test accuracy? What is the test accuracy for this KNN classifier?

_Hint: try a range of values between 1 and 10._

In [ ]:
# TO DO: find the best value for k (number of nearest neighbours)

In [ ]:
# TO DO: compute the test accuracy for KNN classsifier with the best value of k

## Question 20

Which one of the above classifiers would you choose for this classification task? Logistic Regression, KNN, or Decision Tree?